
```html
<!DOCTYPE html>
<html>
<head>
  <title>Watch - <%= video %></title>
</head>
<body>
  <h2>Now Playing: <%= video %></h2>
  <video width="600" controls>
    <source src="/videos/<%= video %>" type="video/mp4">
  </video>
  <br><a href="/">← Back to Home</a>
</body>
</html>
```

Just ask if you want more!
